
<!-- Start Home Section-->
<div id="home">

	<!-- Navigation-->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#"><img src="assets/img/logo.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
				<li class="nav-item"><a class="nav-link" (click)="onClick('services')">Why Us?</a></li>
				<li class="nav-item"><a class="nav-link" (click)="onClick('amenities')">Amenities</a></li>
				<li class="nav-item"><a class="nav-link" (click)="onClick('gallery')">Gallery</a></li>
				<li class="nav-item"><a class="nav-link" (click)="onClick('reviews')">Reviews</a></li>
				<li class="nav-item"><a class="nav-link" (click)="onClick('about')">About us</a></li>
				<li class="nav-item"><a class="nav-link" href="#login">Login</a></li>
			</ul>
		</div>
	</nav>
	<!-- End Navigation-->

	<!--image-slider-->
	<div id="slides" class="carousel slide" data-ride="carousel" data-interval="4000">
		<ul class="carousel-indicators">
			<li data-target="#slides" data-slide-to="0" class="active"></li>
			<li data-target="#slides" data-slide-to="1"></li>
			<li data-target="#slides" data-slide-to="2"></li>
		</ul>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active" style="background-image: url(assets/img/slide1.jpg)">
				<div class="carousel-caption text-center">
					<h1 class="display-2">Shagun Shruti Appartment</h1>
					<h3>Happy People, Happy Place!</h3>
				</div>
			</div>
			<div class="carousel-item" style="background-image: url(assets/img/slide2.jpg)"></div>
			<div class="carousel-item" style="background-image: url(assets/img/slide3.jpg)"></div>
			<a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			</a>
			<a class="carousel-control-next" href="#slides" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
			</a>
		</div>
	</div>
	<!-- End landing Page Section-->
</div>
<!-- End Home Section-->


<!-- Start Services Section-->
<div id="services" class="offset">
	<!-- Start Jumbotron-->
	<div class="jumbotron">
		<div class="narrow">

			<div class="col-12">
				<h3 class="heading text-center">Why Us?</h3>
				<div class="heading-underline"></div>
			</div>

			<div class="row text-center">
				<div class="col-md-4">
					<div class="service">
						<i class="fas fa-rupee-sign fa-4x" data-fa-transform="shrink-3 up-5"></i>
						<h3>Zero  Brokerage</h3>
						<p>Directly connect with owners and check the availability.</p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="service">
						<i class="fas fa-bolt fa-4x" data-fa-transform="shrink-3 up-5"></i>
						<h3>Instant  Deposit  Return</h3>
						<p>Get the deposit back instantly at the time of separation.</p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="service">
						<i class="fas fa-rupee-sign fa-4x" data-fa-transform="shrink-3 up-5"></i>
						<h3>Affordable  Rent</h3>
						<p>Get the premium quality flat at most afforadable rate.</p>
					</div>
				</div>

			</div><!-- End of the Row-->
		</div><!--End Narrow-->
	</div><!-- End Jumbotron-->
</div>
<!-- End services Section-->


<!-- Start Amenities Section-->
<div id="amenities" class="offset">

	<div class="fixed-background">

		<div class="row dark text-center">

			<div class="col-12">
				<h3 class="heading">Amenities</h3>
				<div class="heading-underline"></div>
			</div>

			<div class="col-md-3">
				<p class="lead">Parking Spaces</p>
			</div>

			<div class="col-md-3">
				<p class="lead">24/7 Security Guards</p>
			</div>

			<div class="col-md-3">
				<p class="lead">Elevator</p>
			</div>

			<div class="col-md-3">
				<p class="lead">Online Rent Payments</p>
			</div>

			<div class="col-md-3">
				<p class="lead">Proper Rental Agreement</p>
			</div>

			<div class="col-md-3">
				<p class="lead">CCTV Protection</p>
			</div>

			<div class="col-md-3">
				<p class="lead">Balcony Space</p>
			</div>

			<div class="col-md-3">
				<p class="lead">Pet Friendly</p>
			</div>

		</div>

		<div class="fixed-wrap">
			<div class="fixed"></div>
		</div>

	</div> <!-- End of Fixed-Background-->
</div>
<!-- End Amenities Section-->

<!-- Start Gallery Section-->
<div class="col-12" id="gallery">
	<h3 class="heading text-center" style="padding-top: 25px;">Gallery</h3>
	<div class="heading-underline"></div>
</div>
<div class="container px-0 py-4">
	<div class="pp-category-filter">
	  <div class="row">
		<div class="col-sm-12"><a class="btn btn-primary pp-filter-button" href="#" data-filter="all">All</a><a class="btn btn-outline-primary pp-filter-button" href="#" data-filter="people">People</a><a class="btn btn-outline-primary pp-filter-button" href="#" data-filter="nature">Nature</a><a class="btn btn-outline-primary pp-filter-button" href="#" data-filter="computer">Computer</a><a class="btn btn-outline-primary pp-filter-button" href="#" data-filter="food">Food</a></div>
	  </div>
	</div>
  </div>
  <div class="container px-0">
	<div class="pp-gallery">
	  <div class="card-columns">
		<div class="card" data-groups="[&quot;nature&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/1-nature.jpg" alt="Nature"/>
			  <figcaption>
				<div class="h4">Forest</div>
				<p>Nature</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;nature&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/2-nature.jpg" alt="Nature"/>
			  <figcaption>
				<div class="h4">Bird</div>
				<p>Nature</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;nature&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/4-nature.jpg" alt="Nature"/>
			  <figcaption>
				<div class="h4">Sunrise</div>
				<p>Nature</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;nature&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/5-nature.jpg" alt="Nature"/>
			  <figcaption>
				<div class="h4">Greenery</div>
				<p>Nature</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;nature&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/8-nature.jpg" alt="Nature"/>
			  <figcaption>
				<div class="h4">Bird</div>
				<p>Nature</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;nature&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/9-nature.jpg" alt="Nature"/>
			  <figcaption>
				<div class="h4">Flower</div>
				<p>Nature</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;people&quot; , &quot;nature&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/10-people.jpg" alt="People"/>
			  <figcaption>
				<div class="h4">Model</div>
				<p>People</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;people&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/11-people.jpg" alt="People"/>
			  <figcaption>
				<div class="h4">Cute</div>
				<p>People</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;people&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/13-people.jpg" alt="People"/>
			  <figcaption>
				<div class="h4">Model</div>
				<p>People</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;people&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/14-people.jpg" alt="People"/>
			  <figcaption>
				<div class="h4">Model</div>
				<p>People</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;people&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/16-people.jpg" alt="People"/>
			  <figcaption>
				<div class="h4">Model</div>
				<p>People</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;people&quot; , &quot;nature&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/17-people.jpg" alt="People"/>
			  <figcaption>
				<div class="h4">Model</div>
				<p>People</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;computer&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/18-computer.jpg" alt="Computer"/>
			  <figcaption>
				<div class="h4">Laptop</div>
				<p>Computer</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;computer&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/19-computer.jpg" alt="Computer"/>
			  <figcaption>
				<div class="h4">Laptop</div>
				<p>Computer</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;computer&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/20-computer.jpg" alt="Computer"/>
			  <figcaption>
				<div class="h4">Laptop</div>
				<p>Computer</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;computer&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/23-computer.jpg" alt="Computer"/>
			  <figcaption>
				<div class="h4">Laptop</div>
				<p>Computer</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;computer&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/24-computer.jpg" alt="Computer"/>
			  <figcaption>
				<div class="h4">Laptop</div>
				<p>Computer</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;food&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/26-food.jpg" alt="Food"/>
			  <figcaption>
				<div class="h4">Fruit Salad</div>
				<p>Food</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;food&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/27-food.jpg" alt="Food"/>
			  <figcaption>
				<div class="h4">Oranges</div>
				<p>Food</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;food&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/28-food.jpg" alt="Food"/>
			  <figcaption>
				<div class="h4">Lemon Tea</div>
				<p>Food</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;food&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/29-food.jpg" alt="Food"/>
			  <figcaption>
				<div class="h4">Pasta</div>
				<p>Food</p>
			  </figcaption>
			</figure></div>
		<div class="card" data-groups="[&quot;food&quot;]">
			<figure class="pp-effect"><img class="img-fluid" src="assets/img/gallery/30-food.jpg" alt="Food"/>
			  <figcaption>
				<div class="h4">Burger</div>
				<p>Food</p>
			  </figcaption>
			</figure></div>
	  </div>
	</div>
  </div>
<!-- End Gallery Section-->

<!-- Start Reviews Section-->
<div id="reviews" class="offset">
	<!--Start Jumbotron-->
	<div class="jumbotron">
		<div class="col-12 text-center">
			<h3 class="heading">Reviews</h3>
			<div class="heading-underline"></div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<img src="assets/img/client1.jpg">
					</div>
					<div class="col-md-8">
						<blockquote><i class="fas fa-quote-left"></i>We have been living here for quite some time now and are very happy here. Maintenance issues are resolved in a timely manner and the maintenance staff here is pretty darn good.</blockquote>
						<hr class="reviews-hr">
						<cite>&#8212; Baburao Ganpatrao Apte - Flat 101</cite>
					</div>
				</div>
			</div>	<!--End of the col-md-6-->

			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<img src="assets/img/client2.jpg">
					</div>
					<div class="col-md-8">
						<blockquote><i class="fas fa-quote-left"></i>Shagun Shruti Apartment is the best place to live in Robertsganj if you are willing to rent a place. Great facilities.</blockquote>
						<hr class="reviews-hr">
						<cite>&#8212; Doraemon - Flat 202</cite>
					</div>
				</div>
			</div>	<!--End of the col-md-6-->

		</div><!--End of the Row-->
	</div><!--End of the Jumbotron-->
</div>
<!-- End Reviews Section-->


<!-- Start About Section-->
<div id="about" class="offset">

	<footer>
		<div class="row justify-content-center">
			<div class="col-md-5 text-center">
				<img src="assets/img/logo.png">
				<p>Rent a beautiful flat for you and your family. We provide high quality ready to move-in family homes that are safe, secure, comfortable and strategically located for you to experience a hassle free stay. </p>
				<strong>Contact Info</strong>
				<p>(+91) 9415205939<br>shagunshrutiapp@gmail.com</p>
				<a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
				<a href="https://www.instagram.com/shagun_shruti_apartment/" target="_blank"><i class="fab fa-instagram"></i></a>
			</div>

			<hr class="socket">
			&copy; Shagun Shruti Apartment. Created by - Nitish Singh. &copy; -2021.
		</div>
	</footer>

</div>
<!-- End Contact Section-->