<!-- Navigation-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"><img src="assets/img/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/home">Log Out</a></li>
        </ul>
    </div>
</nav>
<!-- End Navigation-->

<div class="main">
    <h1>Tenant Dashboard</h1>
    <button class="btn card_btn">Click here to go to your Profile!</button>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
            <div class="card_content">
                <h2 class="card_title">Flat 001</h2>
            </div>
            <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
            <div class="card_content">
                <h2 class="card_title">Tenant -001</h2>
                <p class="card_text">Short Description of tenant 001</p>
                <h2 class="card_text">Living Since 1st Dec'21</h2>
            </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
            <div class="card_content">
                <h2 class="card_title">Flat 001</h2>
            </div>
            <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
            <div class="card_content">
                <h2 class="card_title">Tenant -001</h2>
                <p class="card_text">Short Description of tenant 001</p>
                <h2 class="card_text">Living Since 1st Dec'21</h2>
            </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
            <div class="card_content">
                <h2 class="card_title">Flat 001</h2>
            </div>
            <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
            <div class="card_content">
                <h2 class="card_title">Tenant -001</h2>
                <p class="card_text">Short Description of tenant 001</p>
                <h2 class="card_text">Living Since 1st Dec'21</h2>
            </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
            <div class="card_content">
                <h2 class="card_title">Flat 001</h2>
            </div>
            <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
            <div class="card_content">
                <h2 class="card_title">Tenant -001</h2>
                <p class="card_text">Short Description of tenant 001</p>
                <h2 class="card_text">Living Since 1st Dec'21</h2>
            </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
            <div class="card_content">
                <h2 class="card_title">Flat 001</h2>
            </div>
            <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
            <div class="card_content">
                <h2 class="card_title">Tenant -001</h2>
                <p class="card_text">Short Description of tenant 001</p>
                <h2 class="card_text">Living Since 1st Dec'21</h2>
            </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
            <div class="card_content">
                <h2 class="card_title">Flat 001</h2>
            </div>
            <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
            <div class="card_content">
                <h2 class="card_title">Tenant -001</h2>
                <p class="card_text">Short Description of tenant 001</p>
                <h2 class="card_text">Living Since 1st Dec'21</h2>
            </div>
        </div>
      </li>
    </ul>
</div>

<!-- Start About Section-->
<div id="about" class="offset">

	<footer>
		<div class="row justify-content-center">
			<div class="col-md-5 text-center">
				<img src="assets/img/logo.png">
				<p>Rent a beautiful flat for you and your family. We provide high quality ready to move-in family homes that are safe, secure, comfortable and strategically located for you to experience a hassle free stay. </p>
				<strong>Contact Info</strong>
				<p>(+91) 9484819541<br>shagunshrutiapp@gmail.com</p>
				<a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
				<a href="https://www.instagram.com/shagun_shruti_apartment/" target="_blank"><i class="fab fa-instagram"></i></a>
			</div>

			<hr class="socket">
			<div class="col-md-5 text-center">
				<p>&copy; Shagun Shruti Apartment. Created by - Nitish Singh. &copy; -2021.</p>
			</div>
		</div>
	</footer>

</div>
<!-- End About Section-->