@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.offset::before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*----- Navigation -----*/

.navbar{
  text-transform: uppercase;
  font-weight: 500;
  font-size: .8rem;
  letter-spacing: .1rem;
  background: rgba(0, 0 ,0, 0.6)!important;
}

.navbar-brand img {
  max-width: 100%;
  height: auto;
  max-height: 2rem;
  border-radius: 25%;
}

.navbar-nav li {
  padding-right: .5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color:#1ebba3;
}

/*----- Landing Page -----*/

.caption {
  width: 100%;
  max-width: 100%;
  position:absolute;
  top: 38%;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem #000;
}

.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem #000;
  padding-bottom: 1.6rem;
}

/* slide */
.carousel-item {
  height:100vh;
  background-size:cover;
}
.carousel-caption {
  position:absolute;
  top:38%;
  text-transform:uppercase;
  width:100%;
  left:0;
  right:0;
}
.carousel-caption h1 {
  font-size:3.8rem;
  font-weight:700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom:1rem;
}
.carousel-caption h3 {
  font-size:2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom:1.6rem;
}

/*----- Services Section -----*/

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 3.5rem;
  border-radius: 0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}

.service svg.svg-inline--fa {
  color: #1ebba3;
}

.service h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: .4rem;
}

.service p{
  font-size: 1.1rem;
}

/*----- Resources Section -----*/

.fixed{
  background-image: url(../img/backlight.jpg);
  z-index: -1;
}

.dark {
  background-color: rgb(0, 0, 0, 0.75);
  color: #fff;
  padding: 7rem 2rem;
}

.fixed-background h3 {
  margin-bottom: 2rem;
}

.fixed-background p {
  margin-top: 1.5rem;
}


/*----- Client Section -----*/
#reviews img {
  width: 100%;
  border-radius: 50%;
}

blockquote .svg-inline--fa  {
  color: #1ebba3;
  margin: 1rem;
}

.reviews-hr {
  border-top: .05rem solid #1ebba3;
}

/*----- Contact Section -----*/

footer {
  background-color: #40474e;
  color: #fff;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer img {
  max-width: 100%;
  height: auto;
  margin: 1.5rem 0;
  border-radius: 25%;
}

footer a {
  color: #fff;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
  color: #1ebba3!important;
}

hr.socket {
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem;
}

/* -- Media Queries -- */

@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }

  .caption h3{
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
  }

  .narrow h1 {
    font-size: 1.5rem;
  }

  #reviews img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
